@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
  
* {
    box-sizing: border-box;
    font-family: Source Sans Pro;
}

body {
    height: 50% max-content;
    margin: 20px;
    padding: 0;
}

.wrapper{
    width: max-content;
    padding-top: 100px;
    margin: 0 auto;
}

ul {
    padding-inline-start: 20px;
}

.square {
    background: #d4fdd2;
    border: 2px solid #999;
    float: left;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 64px;
    height: 104px;
    width: 104px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.emptySquare{
    background: #999;
    color: #999;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1vh;
    font-size: 4em;
}
.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.reset{
    float: left;
    margin-left: 25%;
    margin-top: 0.3vh;
    height: 7vh;
    width: 50%;
    height: 65px;
    font-size: 2.6em;  
    font-weight: bold;
}

@media (max-width: 600px) {
    .square {
        height: 50px;
        width: 50px;
        font-size: 1.5em;
        line-height: 50px;
    }
    .reset{
        font-size: 1.7em;
        height: 45px;
    }
    .status{
        font-size: 2em;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .square {
        height: 84px;
        width: 84px;
        font-size: 2em;
    }
    .reset{
        font-size: 2em;
        height: 55px;
    }
    .status{
        font-size: 3em;
    }
}